- var css_path = 'css'
- var js_path = 'js'
- 
  var pages = {
    top : {
      url : 'index.html',
      name : 'トップページ',
      title : 'トップページ',
      description : 'トップページです',
      keywords : 'トップページ'
    },
    about : {
      url : 'about.html',
      name : 'アバウトページ',
      title : 'アバウトページ',
      description : 'アバウトページになります',
      keywords : 'アバウトページ'
    },
    profile : {
      url : 'profile.html',
      name : 'プロフィールページ',
      title : 'プロフィールページ',
      description : 'プロフィールページになります',
      keywords : 'プロフィールページ'
    }
  }
