html, body{
  margin:0;
  padding:0;
}

nav {
  background: #ccc;
  box-shadow: 1px 2px 1px #ccc;
  padding:30px;
  text-align: center; 
  a {
    color: #fff;
    text-decoration: none;
  }
}

.box {
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  &_item {
    background:#00fa9a;
    color:#fff;
    opacity:0;
    position: relative;
    top: 0;
    width:15%;
    padding:30px;
    transition:all .5s ease-in-out;
  }
}

/*アニメーションの動きの方向*/

.box_item.left {
   left:-50px;
}

.left.is-active {
   left:0;
}

.box_item.blue {
  background:#00BFFF;
}

.box_item.is-active{
  top:100px;
  opacity: 1;
}
