extends includes/_layout.pug

block vars
  include ./includes/_config.pug
  - var key = "about"
  - var page = pages[key]

block contents
  a(href='index.html') indexページへ
  ul.box
    li.box_item.blue Box1
    li.box_item.blue Box2
    li.box_item.blue Box3
    li.box_item.blue Box4