extends includes/_layout.pug

block vars
  include ./includes/_config.pug
  - var key = "top"
  - var page = pages[key]

block contents
  a(href='about.html') aboutページへ
  
  ul.box
    li.box_item Box1
    li.box_item Box2
    li.box_item Box3
    li.box_item Box4

